mat-card-content{
	display: flex;
	.panel{
		height: 300px;
		overflow-y: auto;
		width: 46%;
		margin: 2%;
		border-radius: 2px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 -1px 4px rgba(0,0,0,0.05);
		.panel-entry{
			height: 32px;
			line-height: 32px;
			padding: 0px 30px;
			box-sizing: border-box;
			border-bottom: 1px solid #ebebeb;
		}
	}
}