<div class="notes bg-secondary">
  Listen to `scroll` event and sync the scroll position on the two data panels
</div>

<mat-card>
  <mat-card-title>Data panels - list of items</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngFor="let panel of panels$ | async; let i = index">
      <div class="panel panel_{{ i + 1 }}" #panel>
        <div class="panel-entry" *ngFor="let item of panel">
          Item {{ item }}
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
