/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.notes {
	padding: 20px;
    font-size: 14px;
    font-family: monospace;
    color: var(--light);
    margin-bottom: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
