.emoji {
  color: #1da0d2;
  font-family: sans-serif;
  font-size: 43px;
  line-height: 52px;
  position: relative;
  left: 50px;
}
.emoji-text {
  color: #1da0d2;
  font-family: sans-serif;
  font-size: 32px;
  line-height: 60px;
  position: relative;
  left: 50px;
}
.subtle-text {
  font-size: 13px;
  color: #888888;
  position: relative;
  left: 50px;
}
